<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> My Stock Portfolio Tracker</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        
    </head>
    <body class="bg-light">
        <!-- Nav bar from https://stackoverflow.com/a/20362024/19501420-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav me-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('portfolio') }}">Portfolio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('compare') }}">Stock-Comparison</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <a class="navbar-brand mx-auto" href="#">My Stock Portfolio Tracker &nbsp;&nbsp;</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <!-- 
        Spinner design taken from https://codepen.io/crayon-code/pen/eYdVLJo
        Overlay function taken from https://stackoverflow.com/a/40159989/19501420
        -->
        <div class="overlay" style="display: none;" id="spinner">
            <div class="overlay__wrapper">
                <div class="overlay__spinner">
                    <div class="mosaic-loader">
                        <div class="cell d-0"></div>
                        <div class="cell d-1"></div>
                        <div class="cell d-2"></div>
                        <div class="cell d-3"></div>
                        <div class="cell d-1"></div>
                        <div class="cell d-2"></div>
                        <div class="cell d-3"></div>
                        <div class="cell d-4"></div>
                        <div class="cell d-2"></div>
                        <div class="cell d-3"></div>
                        <div class="cell d-4"></div>
                        <div class="cell d-5"></div>
                        <div class="cell d-3"></div>
                        <div class="cell d-4"></div>
                        <div class="cell d-5"></div>
                        <div class="cell d-6"></div>
                    </div>
                </div>
            </div>
        </div>
        
        {% block content %}
        {% endblock %}

        <!-- Script links -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>
        <!-- Load plotly.js into the DOM -->
        <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
        <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    </body>
</html>